<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Data & AI Quiz</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
        <h2>Data & AI Quiz</h2>
        </div>
        <form method="POST" action="/quizsubmissionai">
        <p class="lead"></p>
        
        Enter your Email ID:<br/>    
        <input type="text" id="cloudemail" name="cloudemail" class="form-control" placeholder="Please enter your IBM Cloud Email ID" required>
        <br/>   
        1. Machine Learning uses algorithms that can learn from data without relying on explicitely programmed methods.<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_1" id="quiz_1" value="a" required> True
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_1" id="quiz_1" value="b">False
        </label>
        </div>
        <br/> 
        2. What is ICP for Data?<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_2" id="quiz_2" value="a" required> Data Hub platform for data and analytics
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_2" id="quiz_2" value="b">AI platform
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_2" id="quiz_2" value="c">Data Hub platform for database
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_2" id="quiz_2" value="d">None
        </label>
        </div>
        <br/>
        3. What are the 2 steps in Data Refinery?<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="a" required> Cleanse and Shape
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="b"> Redo and Get data
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="c"> Search Data and Discover Data
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="d"> Cataloging Data and Operationalise data
        </label>
        </div>
        <br/>
        4. How many steps are in the AI Ladder<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="a" required> Redo and Get data
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="b"> Search Data and Discover Data
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="c"> Cataloging Data and Operationalise data
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="d"> Cleanse and Shape
        </label>
        </div>
        <br/>  
        5. Which of the following matrices can be used to show the results of model accuracy evaluation or the model’s ability to correctly predict or separate the classes?<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_5" id="quiz_5" value="a" required> Evaluation matrix
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_5" id="quiz_5" value="b"> Confusion matrix
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_5" id="quiz_5" value="c"> Accuracy matrix
        </label>
        </div> 
        <div class="radio">
        <label>
        <input type="radio" name="quiz_5" id="quiz_5" value="d"> Error matrix
        </label>
        </div> 
        <br/>
        <input type="submit" value="Submit Quiz" class="btn btn-primary btn-lg"/>
        </form>
      <br/><br/>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2019 IBM India Pvt Ltd</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../public/javascripts/bootstrap.min.js"></script>
  </body>
</html>
